.dashboard-container {
    display: flex;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5rem;
}

.container_1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2rem;
}

.container_2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 2rem;
    border-left: 1px solid lightgray;
}

.hello-title {
    padding: 2rem 10%;
}

.profile-img {
    width: 90%;
    height: auto;
    max-width: 20rem;
}

.conferences-container {
}

.conf-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.regular-btn {
    margin-top: 0.8rem;
    text-decoration: none;
    background-color: white;
    color: gray;
    border-radius: 3px;
    border: 1px solid gray;
    transition: opacity 0.3s ease-in-out;
    padding: 0.3rem 0;
}

.regular-btn:hover {
    color: #0074d9;
    border: 1px solid #0074d9;
}

.major-btn {
    text-decoration: none;
    background-color: #0074d9;
    color: white;
    border-radius: 3px;
    border: 1px solid #0074d9;
    transition: opacity 0.3s ease-in-out;
}

.major-btn:hover {
    color: #0074d9;
    background-color: white;
}

.edit-btn {
    text-decoration: none;
    background-color: white;
    color: #0074d9;
    border-radius: 3px;
    border: 1px solid #0074d9;
    transition: opacity 0.3s ease-in-out;
}

.edit-btn:hover {
    color: white;
    background-color: #0074d9;
}

.remove-btn {
    text-decoration: none;
    background-color: white;
    color: gray;
    border-radius: 3px;
    border: 1px solid white;
    transition: opacity 0.3s ease-in-out;
}

.remove-btn:hover {
    color: darkred;
}

.btn-left-margin {
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
}

.enrolled-conferences-title {
    margin-top: 2rem;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}

.enrolled-conferences-empty {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.enrolled-conferences-empty-text {
    text-align: center;
    font-size: 1.1rem;
    color: lightgray;
    margin: 1rem 2rem;
}

.search-fot-conf-btn {
    margin: 0 1rem 1rem;
}


@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .container_1 {
        margin-right: 1rem;
    }

    .container_2 {
        padding-left: 0;
        border-left: none;
        margin-top: 2rem;
    }
}

.author_and_time-container {
    display: flex;
    justify-content: space-between;
}

.author_and_time-container p {
    color: gray;
}

.description-text-main {
    font-size: 1.3rem;
}

.button-container {
    display: flex;
}

.participant-container {
    display: flex;
    flex-wrap: wrap;
}

.participant {
    display: flex;
    margin-top: 1.5rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.participant-img {
    width: 50px;
    height: 50px;
    transition: all 0.1s ease-out;
}

.participant:hover .participant-img{
    transform: scale(1.05);
}

.participant p{
    margin: 0;
    padding: 0 0 0 0.5rem;
    font-size: 1.1rem;
}






