.conferenceBox {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease-out;
}

.conferenceBox:hover {
    transform: scale(1.02);
}

.conferenceImage {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.conferenceProperties {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.conferenceDescriptionBox {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
}

.buttonBox {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
