.container-main {
    background-color: #0074d9;
    padding: 1.5rem 10%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    font-size: 0.8rem;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.desktop-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    text-decoration: none;
}

.logo-text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: white;
}

.logo-text-second {
    color: #E6F4F1;
}

.desktop-menu-container {

}

.menu-button {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease-in-out;
    margin-right: 1rem;
}

.menu-button:hover {
    color: white;
    border-bottom: 1px solid white;
}

.major-btn {
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    color: #0074d9;
    border-radius: 3px;
    border: 1px solid white;
    transition: opacity 0.3s ease-in-out;
}

.major-btn:hover {
    color: white;
    background-color: #0074d9;
}

.logged-container {
    display: flex;
    align-items: center;
    transition: all 0.1s ease-out;
}

.logged-container:hover .account-icon-container{
    transform: scale(1.05);
}

.user-name-text {
    color: white;
    margin: 0 1rem 0 0;
}

.account-icon-container {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    cursor: pointer;
}

.account-icon {
    height: 1.5rem;
}

